.App {
  font-family: serif;
}

h1 {
  font-family: sans-serif;
}

.answerForm {
  border-style: solid;
  border-width: thin;
  padding: 1em;
  width: fit-content;
}

fieldset > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  margin: 0.8em;
}

button[type="submit"] {
  background-color: LightSkyBlue;
  margin: 0.5em;
  padding: 0.4em;
}

/* introduce magins at widths > 20em */
@media only screen and (min-width: 20em) {
  .App {
    margin: 1em;
  }
}

/*
M query 40em to 80em
Col 1 main-question
Col 2 figure nav

If more complex navigation is required, then
M query > 80em 
Three col Grid
Nav main figure
*/
