body {
  background-color: hsl(45, 100%, 70%);
}
main {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}
h1 {
  font-size: 100%;
  margin-bottom: 1em;
  color: hsl(215, 22%, 30%);
}
section {
  background-color: white;
  width: 100%;
  margin-bottom: 2em;
  border-style: solid;
  border-width: thin;
  padding: 1em;
}
.correctAnswer {
  color: green;
}

/* responsive web design */
@media only screen and (min-width: 32em) {
  section {
    width: 32em;
  }
}
