counter-comp::part(counter-wrapper) {
  border: thin solid darkgrey;
  padding: 1em;
  display: inline-block;
  font-family: sans-serif;
}

counter-comp::part(up-button) {
  background-color: lightgreen;
}

counter-comp::part(down-button) {
  background-color: lightpink;
}

counter-comp::part(up-button),
counter-comp::part(down-button) {
  cursor: pointer;
  min-width: 4rem;
  padding: 0.4em;
  border: solid;
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.4em;
}

counter-comp::part(counter-tally) {
  font-weight: bold;
  padding: 0.6em;
}

noscript {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}