svg {
  position: absolute;
  top: 0;
  left:0;
}


.agentMarker {
  font-size: 120%;
  cursor: default;
}

.active {
  border-radius: 50%;
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse
{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
