.App {
  background-color: rgb(101, 150, 69);
  min-height: 100vh;
  background-image: url("./assets/castle_map.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.dot {
  width: 4%;
  min-width: 20px;
}

.active {
  border-radius: 50%;
  animation-duration: 1s;
  animation-name: shadow-pulse;
  animation-iteration-count: 3;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 10px 20px rgba(255, 255, 255, 0.2);
     }
}
