/* width & height includes padding + border for responsive web design */
* {
  box-sizing: border-box;
}
body {
  background-color:#ffffcc;
}

a {
  color:#0000ee;
}

/* header */
header {
  margin-bottom: 1em;
}
.art-deco-link-home {
  font-family: 'Limelight', serif;
  font-size: 120%;
}
.site-search-link {
  display: none;
  float: right;
}

/* navigation-drawer */
.navigation-drawer {
  float: right;
}
#navigation-drawer-toggle-bttn {
  float: right;
  width: 3em;
  text-align: center;
  font-size: 120%;
  color:#0000ee;
}
.links-inside-navigation-drawer a {
  display: block;
}





/* .navigation-drawer-hidden {
  display: none;
} */
/* #navigation-drawer-toggle-bttn {
  float: right;
  cursor: pointer;
  color:#0000ee;
  font-size: 133%;
}
#navigation-drawer {
  max-width: 9em;
  clear: both;
  float: right;
}
#close-navigation-drawer-bttn {
  color:#0000ee;
  font-size: 133%;
}
.nav-drawer-bttn {
  display: flex;
  justify-content: end;
}
#navigation-drawer a {
  text-align: center;
  border: solid;
  border-width: thin;
  border-color: #0000ee;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  width: 7em;
} */

/* wrapper */
#wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* article */
article {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

/* nav */
nav {
  text-align: center;
}
nav a {
  display: block;
  background-color: rgb(204, 231, 255);
  border: solid;
  border-color: rgb(0, 0, 102);
  border-radius: 0.5em;
  padding: 0.7em;
  margin: 1em auto;
  cursor: pointer;
  width: 8em;
  box-shadow: 0 0.5em 0.4em 0 rgba(0,0,102,0.4), 0 0.4em 0.5em 0 rgba(0,0,102,0.3);
}

/* aside */
aside {
  margin-top: 0.5em;
}

.dancing-couple-svg-logo {
  width: 0, auto;
}

/* footer */
footer {
  text-align: center;
}


/* responsive web design */
@media only screen and (min-width: 50em) {
  /* For desktop: */
  #wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .navigation-drawer {
    display: none;
  }
  .site-search-link {
    display: inline;
  }
  aside {
    order: 10;
    flex: 2 1 auto;
    min-width: 10em;
    max-width: 30em;
  }
  article {
    order: 20;
    flex: 2 1 auto;
    max-width: 40em;
    padding: 0em 1em;
  }
  nav {
    order: 30;
    flex: 1 1 auto;
    min-width: 10em;
    max-width: 30em;
  }
}