/* width & height includes padding + border for responsive web design */
* {
  box-sizing: border-box;
}

body {
  background-color:#ffffcc;
}

a {
  color:#0000ee;
}

/* header */
header {
  margin-bottom: 0.1em;
}

.art-deco-link-home {
  font-family: 'Limelight', serif;
  font-size: 120%;
}

/* navigation-drawer */
.navigation-drawer {
  position: absolute;
  top: 0;
  right: 0;
}

#navigation-drawer-toggle-bttn {
  float: right;
  width: 3em;
  height: 2em;
  text-align: center;
  font-size: 120%;
  color:#0000ee;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.links-inside-navigation-drawer a {
  display: block;
  background-color: rgb(204, 231, 255);
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}


/* wrapper */
#wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* article */
article {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

/* nav */
nav {
  text-align: center;
}

nav a {
  display: block;
  background-color: rgb(204, 231, 255);
  border: solid;
  border-color: rgb(0, 0, 102);
  border-radius: 0.5em;
  padding: 0.7em;
  margin: 1em auto;
  cursor: pointer;
  width: 8em;
  box-shadow: 0 0.5em 0.4em 0 rgba(0,0,102,0.4), 0 0.4em 0.5em 0 rgba(0,0,102,0.3);
}

/* aside */
aside {
  margin-top: 0.5em;
}

.dancing-couple-svg-logo {
  width: auto;
}

/* footer */
footer {
  text-align: center;
  font-size: 85%;
  opacity: 0.8;
}


/* responsive web design */
@media only screen and (min-width: 50em) {
  /* For desktop: */
  #wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .navigation-drawer {
    display: none;
  }
  .site-search-link {
    display: inline;
  }
  aside {
    order: 10;
    flex: 2 1 auto;
    min-width: 10em;
    max-width: 30em;
  }
  article {
    order: 20;
    flex: 2 1 auto;
    width: 40em;
    padding: 0em 1em;
  }
  nav {
    order: 30;
    flex: 1 1 auto;
    min-width: 10em;
    max-width: 30em;
  }
}
