<!DOCTYPE html>
<html lang='en-GB'>
<meta charset='utf-8'>
<title>Dance with Ease</title>
<!--mobile 1st responsive style-->
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="dancewith006.css">
<!--external art deco font-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Limelight">
<link rel="icon" href="http://www.dancewith.co.uk/favicon.ico" type="image/x-icon" sizes="16x16">
<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<meta name="description" content="Social-dancing etiquette, comfort and leading">
<meta name="keywords" content="social dance, partner dancing, etiquette, ease, comfort, leading">
<meta name="author" content="martin@dancewith.co.uk">
<meta name="created" content="2005-07-08">

<body>
  <noscript>
    <strong>DanceWith.co.uk works best with JavaScript enabled. Please enable JavaScript.</strong>
  </noscript>

    <div id="navigation-drawer" class="navigation-drawer">
      <button
        id="navigation-drawer-toggle-bttn"
        type="button"
        name="navigation-drawer-toggle"
        @click="showNavigationDrawer = !showNavigationDrawer"
      >
        <span v-if="!showNavigationDrawer" class="symbol-navigation-drawer-toggle-bttn">≡</span>
        <span v-else>×</span>
      </button>
      <transition name="fade">
        <div v-if="showNavigationDrawer" class="links-inside-navigation-drawer">
          <a href="sitecontent.html">Search</a>
          <a href="history.html">History</a>
          <a href="links.html">Links</a>
          <a href="video.html">Video</a>
          <a href="health.html">Health</a>
          <a href="sitecontent.html">Contents</a>
          <a href="index.html">Home</a>
        </div>
      </transition>
    </div>

  <header>
    <a class="art-deco-link-home" href="index.html">
      DanceWith<small><small>.co.uk</small></small>
    </a>
  </header>

  <div id="wrapper">
    <article>
      <h1>Dance with Ease</h1>
      <p>Page contents:</p>
      <a href="#Dance_with_Comfort">Dance with Comfort</a><br>
      <a href="#Dance_with_Leading">Dance with Leading</a><br>
      <a href="#Dance_with_Etiquette">Dance with Etiquette</a><br>
      <h2 id="Dance_with_Comfort">Dance with Comfort</h2>
      <p>
        Dance in shoes that stay on your feet.
        When trying on an outfit, check for movement,
        (eg raise each arm to check mobility).
        If you plan dancing to faster tempos, or to many songs, then
        <strong>dress to sweat</strong>.
      </p>
      <h2 id="Dance_with_Leading">Dance with Leading</h2>
      <p>
        Beginners can make leading easy by counting in the rhythm,
        choosing basic routines, and describing steps to your partner.
      </p>
      <p>
        When a couple stand up to dance, one person <em>leads</em>
        while the other <em>dances</em> to this lead.
        Hence, you must assume one of two roles, either
        "<strong>Leader</strong>" or "<strong>Dancer</strong>".
      </p>
      <p>
        Leaders synchronise changes in step to changes in music
        by subtly communicating advanced warning to their partner.
        Signals include eye contact, verbal, body posture and
        gentle pressure applied through the hands.
        A lead must be confident, but never forceful.
        Dancers must always wait for their lead and
        avoid anticipating moves before receiving a lead.
        The arts of leading and following are best taught by
        experienced <a href="links.html">teachers</a>.
      </p>
      <p>
        Although accomplished dancers may alternate these roles during a song,
        new couples should agree before starting who is the Leader and
        who is the Dancer.
      </p>
      <p>
        <strong>Traditionally ladies follow a gentleman's lead</strong>.
        However, same sex couples will agree the leader-dancer relationship,
        and many modern women also enjoy
        leading.
      </p>
      <h2 id="Dance_with_Etiquette">Dance with Etiquette</h2>
      <p>
        Social dancing has three basic rules:
      </p>
      <ol>
        <li>enjoy the music</li>
        <li>enjoy each other's company</li>
        <li>enjoy dancing</li>
      </ol>
      <p>
        When dancing as a couple, you should be a supportive partnership
        (if only for the length of a song).
        So, <strong>only request, never criticise, and be polite</strong>.
      </p>
      <p>
        Social dancers also help other couples by minimising collisions and
        smiling.
      </p>
      <p>
        Try to avoid obstructing other couples. Inevitably collisions occur
        so <strong>please apologise</strong> no matter who's at fault.
      </p>
      <p>
        Many people enjoy dancing with a friend or lover, but men or woman are
        free to request a dance from anyone they like
        who is not in an obvious couple.
      </p>
      <p>
        Try phrases like, "May I have the pleasure of this dance?" or
        "Shall we dance?". If you find a polite request denied,
        then simply assume there is a valid reason such as
        waiting for a regular partner, or aching feet, or exhaustion.
      </p>
      <p>
        If you turn down a request to dance,
        please avoid dancing to the same song with some else.
      </p>
      <p>
        In the modern world an inclusive atmosphere welcomes same sex couples and
        tolerates diverse dance styles on the same floor.
        Indeed, I've seen foxtrotting couples and disco dancers
        simultaneously enjoying the same ballroom.
        However tolerating different styles brings a new etiquette:-
      </p>
      <p>
        Where music such as "swing jazz" encourages both spot dances and
        travelling dances progressing round the room,
        spot dancing (disco, rhumba, salsa, jive, etc.) should occupy the
        centre of the floor leaving the outside track open for
        travelling dancers to quickstep or foxtrot around the edge.
      </p>
      <p>
        Travelling dances progress along an imaginary circle going counterclockwise
        around the dance hall, known as the "line of dance".
      </p>
      <p>
        Remember, you qualify as competent social dancers by
        <strong>dancing till the end of a song with you and your partner
          enjoying yourselves</strong>.
      </p>
      <hr>
    </article>

    <nav>
      <p>Navigation links:-</p>
          <a href="sitecontent.html">Search</a>
          <a href="history.html">History</a>
          <a href="links.html">Links</a>
          <a href="video.html">Video</a>
          <a href="health.html">Health</a>
          <a href="sitecontent.html">Contents</a>
          <a href="index.html">Home</a>
    </nav>

    <aside>
      <img
        class = "dancing-couple-svg-logo"
        src="./images/dancing-couple-2018-09-21.svg"
        alt="Dancing couple logo"
      >
    </aside>
  </div>
  <!-- close wrapper div -->

  <footer>
    <p>
      "Dance, even if you have nowhere to do it but your living room."
      <small><sup><a href="./history/1970-2000.html#living-room">[1]</a></sup></small>
    </p>
    <p><small>Information may become moot.</small></p>
    <p>2005</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="dancewith006.js"></script>
</body>
</html>
