<!DOCTYPE html>
<html lang='en-GB'>
<meta charset='utf-8'>
<title>Dance with Health</title>
<!--mobile 1st responsive style-->
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="dancewith006.css">
<!--external art deco font-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Limelight">
<link rel="icon" href="http://www.dancewith.co.uk/favicon.ico" type="image/x-icon" sizes="16x16">
<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<meta name="description" content="Health benefits of social dancing and safety when dancing">
<meta name="keywords" content="social dance, partner dancing, health">
<meta name="author" content="martin@dancewith.co.uk">
<meta name="created" content="2005-07-08">

<body>
  <noscript>
    <strong>DanceWith.co.uk works best with JavaScript enabled. Please enable JavaScript.</strong>
  </noscript>

    <div id="navigation-drawer" class="navigation-drawer">
      <button
        id="navigation-drawer-toggle-bttn"
        type="button"
        name="navigation-drawer-toggle"
        @click="showNavigationDrawer = !showNavigationDrawer"
      >
        <span v-if="!showNavigationDrawer" class="symbol-navigation-drawer-toggle-bttn">≡</span>
        <span v-else>×</span>
      </button>
      <transition name="fade">
        <div v-if="showNavigationDrawer" class="links-inside-navigation-drawer">
          <a href="sitecontent.html">Search</a>
          <a href="ease.html">Ease</a>
          <a href="history.html">History</a>
          <a href="links.html">Links</a>
          <a href="video.html">Video</a>
          <a href="sitecontent.html">Contents</a>
          <a href="index.html">Home</a>
        </div>
      </transition>
    </div>

  <header>
    <a class="art-deco-link-home" href="index.html">
      DanceWith<small><small>.co.uk</small></small>
    </a>
  </header>

  <div id="wrapper">
    <article>
      <h1>Dance with Health</h1>
      <h2>Dancing brings three main health benefits:</h2>
      <ol>
        <li>Social</li>
        <li>Mental</li>
        <li>Physical</li>
      </ol>
      <p>Dancing each day keeps the doctor away. </p>
      <h2>Dance with Safety</h2>
      <p>
        When dancing, <strong>you</strong> have main control of your own safety. 
      </p>
      <p>
        Pick a speed and complexity of moves appropriate to 
        your level of health and fitness. 
      </p>
      <p>The more you dance, the more your abilities improve. </p>
      <p>The more you dance, the more your fitness improves. </p>
      <p>
        Wear cool, <a href="ease.html#Dance_with_Comfort">comfortable clothing</a> 
        that permits perspiration, and dance in shoes with smooth soles. 
      </p>
      <p>
        After carefully stretching and a vigorous warm-up, 
        make sure your dance area is free from obstacles. 
        Avoid other dancers when moving and keep your balance.
      </p>
      <h3>Warning</h3>
      <p>
        If you feel sudden pain across the chest or problems with breathing,
        then stop dancing immediately. Inform your doctor of these symptoms.
      </p>
      <hr>
    </article>

    <nav>
      <p>Navigation links:-</p>
          <a href="sitecontent.html">Search</a>
          <a href="ease.html">Ease</a>
          <a href="history.html">History</a>
          <a href="links.html">Links</a>
          <a href="video.html">Video</a>
          <a href="sitecontent.html">Contents</a>
          <a href="index.html">Home</a>
    </nav>

    <aside>
      <img
        class = "dancing-couple-svg-logo"
        src="./images/dancing-couple-2018-09-21.svg"
        alt="Dancing couple logo"
      >
    </aside>
  </div>
  <!-- close wrapper div -->

  <footer>
    <p>
      "Dance, even if you have nowhere to do it but your living room."
      <small><sup><a href="./history/1970-2000.html#living-room">[1]</a></sup></small>
    </p>
    <p><small>Information may become moot.</small></p>
    <p>2005</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="dancewith006.js"></script>
</body>
</html>
