/* width & height includes padding + border for responsive web design */
* {
  box-sizing: border-box;
}

body {
  background-color:#ffffcc;
}

a {
  color:#0000ee;
}

pre {
  padding: 0.2em;
  font-size: 80%;
}

code {
  font-size: 80%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

header img {
  height: 4em;
}

header .google_custom_search_box {
  display: inline-block;
  width: 16em;
}

.flex_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 40em;
  padding-left: 2em;
  padding-right: 2em;
}

.jump_adjacent {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2em;
}

.jump_adjacent a {
   text-decoration: none;
   padding: 0.2em;
   border: solid;
   border-width: thin;
   border-radius: 0.2em;
   border-color: darkgrey;
   background: lightgrey;
}

aside {
  background-color:#333;
  color: white;
  padding: 0.2em;
}

aside .react_from_hooks_logo {
  width: 16em;
  display: block;
}

nav {
  border: solid;
  border-width: thin;
  border-color: grey;
  border-radius: 1em;
  padding: 1em;
  margin-top: 1em;
}

nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

nav li {
  display: block;
  margin-bottom: 1em;
}

footer {
  text-align: center;
  margin: 2em;
}

footer a {
  text-decoration: none;
}

footer .moot, .date {
  font-size: 75%;
  opacity: 0.6;
}

.contents_page_wrapper {
  text-align: center;
}
.contents_page {
  display: inline-block;
  border: solid;
  border-width: thin;
  border-color: grey;
  border-radius: 1em;
  padding: 1em;
}
.contents_page ul {
  list-style-type: none;
  padding: 0;
}
.contents_page li a {
  display: block;
  margin-bottom: 1em;
}

.contents_page img {
  width: 80%;
}

/* responsive web design */
@media only screen and (min-width: 50em) {
  /* For desktop: */
  .flex_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  nav {
    order: 10;
    margin: initial;
  }
  main {
    order: 20;
  }
  aside {
    order: 30;
  }
}
