<!DOCTYPE html>
<html lang='en-GB'>
<meta charset='utf-8'>
<title>Input</title>
<link rel='stylesheet' href='./vuef.css'>

<body>
  <div id="app" >
    <p>News items</p>
    <news-feed></news-feed>
  </div>

<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script src="https://unpkg.com/vue-function-api/dist/vue-function-api.umd.js"></script>
<script>

  const veuf = window.vueFunctionApi

  Vue.use(veuf.plugin)
  
  Vue.component('news-feed', {
    setup(){
      let newsList = veuf.value([]);
      let topic = veuf.value('vue');

      const getNews = () => {
        fetch(
          `http://hn.algolia.com/api/v1/search?query=${topic.value}`
        )
          .then(res => res.json())
          .then(myJson => {
            newsList.value = myJson.hits
          })
      };
      veuf.onCreated( () => {
        getNews()
      });
      return {
        newsList,
        topic,
        getNews
      }
    },
    template: `
      <div>
        <input v-model="topic" />
        <button
          type="button"
          v-on:click="getNews"
        >
          Search
        </button>
        <ul>
          <li
            v-for="item in newsList"
            v-bind:key="item.objectID"
          >
            <a v-bind:href="item.url">
              {{item.title}}
            </a>
          </li>
        </ul>
      </div>
    `
  })

  var app = new Vue({
    el: '#app',
  })

</script>
</body>
</html>
