/* width & height includes padding + border */
* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

.resetBttn {
  color: red;
}

.playerNbrs {
  padding: 2em;
}

.playerNbrs > label {
  display: inline-block;
  background-color: lightgreen;
  margin: 1em;
  padding: 0.8em;
}

h1,
h2 {
  display: inline;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 120%;
}
h2 {
  font-size: 100%;
}

footer {
  text-align: center;
  margin-top: 1em;
}
#precisUs {
  color: blue;
}
#precisThem {
  color: red;
}

@media only screen and (min-width: 24em) {
  body {
    margin: 1em;
  }
}
@media only screen and (min-width: 52em) {
  body {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
}
