/* width & height includes padding + border */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(16, 16, 16);
  color: white;
}

header {
  text-align: center;
  margin-bottom: 1em;
}

h1,
h2 {
  display: inline;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 120%;
}
h2 {
  font-size: 100%;
}

h1 > a {
  color: hsl(51, 100%, 50%);
}

.resetBttn {
  color: red;
}

.playerNbrs {
  padding: 2em;
}

.playerNbrs > label {
  display: inline-block;
  background-color: hsl(124, 40%, 40%);
  margin: 1em;
  padding: 0.8em;
}

footer {
  text-align: center;
  margin-top: 1em;
}
#precisUs {
  color: blue;
}
#precisThem {
  color: red;
}

@media only screen and (min-width: 24em) {
  body {
    margin: 1em;
  }
}
@media only screen and (min-width: 52em) {
  body {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
}
